/* aside */
.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  transition: var(--transition);
  transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: -1;
}

.sidebar-wrapper.show {
  visibility: visible;
  z-index: 2;
  transform: scale(1.025);
}

/* mengatus sidebar */
.sidebar {
  width: 90vw;
  height: 75vh;
  max-width: 650px;
  background: var(--dark-3);
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  position: relative;
  /* tambah padding for content */
  padding: 4rem 1rem;
  overflow-y: auto;
}

@media (min-width: 492px) {
  .sidebar {
    padding: 4rem 3rem;
    overflow-y: hidden;
    height: 90vh;
    padding: 3rem 3rem;
  }
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: transparent;
  font-size: 2rem;
  color: var(--red-1);
  transition: var(--transition);
  cursor: pointer;
}

.close-btn:hover {
  color: var(--red-7);
}

.sidebar article {
  margin-bottom: 2rem;
  color: #fff;
}

/* sidebar-sublinks */
.sidebar-sublinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sidebar-sublinks a {
  display: block;
  color: #fff;
  text-transform: capitalize;
  /* agar sejajar dengan icon dan text */
  display: flex;
  align-items: center;
  padding: 0.35rem;
  transition: var(--transition);
}

.sidebar-sublinks a:hover {
  background: rgba(7, 211, 238, 0.952);
}

.sidebar-sublinks svg {
  font-size: 3rem;
  margin-right: 1rem;
  width: 2.3rem;
  height: 2.3rem;
  display: grid;
  place-items: center;
  background: royalblue;
  color: var(--whiteColor);
  border-radius: 50%;
  padding: 0.5rem;
}

@media (min-width: 414px) {
  .sidebar-sublinks svg {
    width: 3.2rem;
    height: 3.2rem;
  }
}

::-webkit-scrollbar {
  width: 20px;
}
