:root {
  /* colors */
  --dark-1: #333333;
  --dark-2: #2b2b2b;
  --dark-3: #242424;
  --dark-4: #1c1c1c;
  --dark-5: #141414;
  --dark-6: #0d0d0d;
  --dark-7: #050505;

  --grey-1: #dddddd;
  --grey-2: #bcbcbc;
  --grey-3: #9b9b9b;
  --grey-4: #7a7a7a;
  --grey-5: #585858;
  --grey-6: #373737;
  --grey-7: #161616;

  --grape-1: #7c24a7;
  --grape-2: #691f8e;
  --grape-3: #571975;
  --grape-4: #44145c;
  --grape-5: #320e43;
  --grape-6: #1f092a;
  --grape-7: #0c0411;

  --red-1: #e80c0cfc;
  --red-2: #c40a0afc;
  --red-3: #a10808fd;
  --red-4: #7e0707fd;
  --red-5: #5b0505fe;
  --red-6: #390303fe;
  --red-7: #ec3131fc;

  /* features */
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --fullRadius: 50%;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --small-width: 450px;
  --whiteColor: #fff;
}

/* Global */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #ddd;
  color: var(--whiteColor);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 1.25rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--grey-6);
}

@media (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* Global class */
.section {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
}

@media (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

.logo {
  font-size: 1.5rem;
  margin-bottom: 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.btn {
  background: var(--dark-1);
  border: transparent;
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  border-radius: var(--radius);
}

.btn:hover {
  background: var(--dark-6);
}

.sign-btn {
  display: none;
}

@media (min-width: 992px) {
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
  /* hidden */
  .nav-btn {
    display: none;
  }
  .sign-btn {
    display: inline-block;
  }

  .nav-links {
    display: flex;
    /* agar di tengah */
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .link-btn {
    background: transparent;
    border: transparent;
    text-transform: capitalize;
    color: var(--whiteColor);
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: var(--spacing);
    cursor: pointer;
    width: 15rem;
  }
}
